<!-- DataTales Example -->
<div class="card mt-4 mb-4" style="width: 72%; margin: 0px auto;">
    <div class="card-body">
      <nz-tabset>
        <nz-tab nzTitle="Rentals">
          <nz-table>
            <thead>
              <tr>
                <th>House Number</th>
                <th>Location</th>
                <th>District</th>
                <th>City</th>
                <th>Rooms</th>
                <th>Floors</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rental of rentals">
                <td>{{rental.house}}</td>
                <td>{{rental.location}}</td>
                <td>{{rental.district}}</td>
                <td>{{rental.city}}</td>
                <td>{{rental.rooms}}</td>
                <td>{{rental.floors}}</td>
                <td>
                  <a nz-button style="color: white;background: #497155;" class="approve" nzType="success" target="_blank" href="http://localhost:4000">Bid</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Sales">
          <nz-table #nzTable [nzData]="displaySales" >
            <thead>
              <tr>
                <th>House Number</th>
                <th nzCustomFilter>
                    Location
                    <!-- <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                      <i nz-icon nzType="search"></i>
                    </nz-filter-trigger> -->
                  </th>
                <th>District</th>
                <th>City</th>
                <th>Rooms</th>
                <th>Floors</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nzTable.data">
                  <td >{{data.house}}</td>
                  <td >{{data.location}}</td>
                  <td >{{data.district}}</td>
                  <td >{{data.city}}</td>
                  <td >{{data.rooms}}</td>
                  <td >{{data.floors}}</td>
                  <td>
                    <a nz-button style="color: white;background: #497155;" class="approve" nzType="success" target="_blank" href="http://localhost:4000">Bid</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu> -->
        </nz-tab>
      </nz-tabset>
    </div>
  </div>